<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Face Icon -->
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <!-- Title -->
        <title>nexter &mdash; your home, your freedom</title>
    <!-- Meta Description -->
      <meta name="description" content="Talented and very inspired front-end developer with 3
      years professional experience in web-based projects. Executed and contributed to full-stack
      web development projects, with an emphasis on front-end features, browser manipulation, and
      cross-browser compatibility. Developed web-based mock-ups for clients to ensure quality control
      and client satisfaction before project development phase. Able to plan and lead full project life cycles.
      Excellent presentation and communications skills.">
    <!-- Google Fonts CDN -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <!-- Custom Scss/Css -->
        <link rel="stylesheet" href="css/style.css">
</head>
